<!DOCTYPE HTML>
<!--
	Prototipo de Sitio Web Oficial del Intelectual Socialismo de Honduras
-->
{% load staticfiles %}
<html>
	<head>
		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="">Inicio</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="articulos">Articulos</a></li>
							<li></li>
							<li></li>
							<li></li>
				
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Organizacion Intelectual</h2>
							<h2>de Honduras </h2>
							 
							
						</header>
						<span class="image"><img src="static/icons/IS.png" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- primera parte -->
				<section id="one" class="spotlight style1 left">
					<span class="image fit main"><img src="static/images/ciudad01.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								
									<header>
										<h2>Mision</h2>
									</header>
										<p>Iniciada recientemente, nuestra misión es reunir a aquellos individuos sobresalientes que estén dispuestos a unir esfuerzos y aportar al desarrollo de nuestra nación mediante alguna de nuestras ramas.
											Basamos nuestras creencias y accionar en 5 principios fundamentales que son la base de nuestra ideología. 
											Nuestra visión es hacer de Honduras el pais prospero que merece ser
										</p>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- segunda parte -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="static/images/reunion01.jpeg" alt="" /></span>
					<div class="content">
						<header>
							<h2>¿Qué hacemos?</h2>
							<p>La organización se divide en distintas ramas: 
								<ul>
									<li>Politica</li>
									<li>Económica</li>
									<li>Social</li>
								</ul>
							</p>
						</header>
						<p>Cada una de ellas busca tener su grado de impacto en el desarrollo del pais, los miembros se 
							especializan en una rama a voluntad, pero sobre todo se tiene en cuenta su capacidad
							 de contribuir a esa rama en específico. .</p>
						<!-- <ul class="actions">
							<li><a href="#" class="button">Aprender Mas</a></li>
						</ul> -->
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- tercera parte -->
				<section id="three" class="spotlight style3 left">
			
				
					<span class="image fit3 main bottom"><img src="static/images/morazan01.jpg" alt="" height="50" width="150"></span>

					
					
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- cuarta parte -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>LOS CINCO PRICIPIOS</h2>
							
						</header>
						<style>
								.dot {
								  height: 70px;
								  width: 70px;
								  background-color: rgb(255, 255, 255);
								  border-radius: 50%;
								  display: inline-block;
								  }
								</style>
								
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<div class="dot">
										<img src="static/icons/objetividad.png" width="70" height="70" alt="">
									</div>
						<!-- style="margin-top: 10px;"  -->
									<h3 style="margin-top: 40px;" >OBJETIVIDAD</h3>
									<p> Es el principio más importante, supone renunciar al velo subjetivo 
										que promueve el sectarismo para tener una sólida visión racional del
										panorama político, económico y social. Basando nuestros deducciones e 
										inferencias en los datos, no en creencias intransigentes. La ausencia de
										los prejuicios que nublen la racionalidad, el poco interés por la vanidad 
										global y el altruismo desinteresado son la clave para pensar de manera objetiva.
                                  </p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
										<div class="dot">
											<img src="static/icons/socialismo.png" style="margin-top: 3px;" width="60" height="60" alt="">
										</div>
									<h3 style="margin-top: 40px;">SOCIALISMO</h3>
									<p> Ser conscientes de que vivimos en sociedad. para que una nación pueda 
										unificarse se debe renunciar al partidismo polarizador, pues será la
										 unión de todo un pueblo y la sana comunión entre las clases sociales 
										 trabajando en conjunto lo que permitirá alcanzar el bien común mayoritario.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<div class="dot">
											<img src="static/icons/nacionalismo.png" style="margin-top: 10px;" width="55" height="55" alt="">
									</div>
									<h3 style="margin-top: 40px;">NACIONALISMO</h3>
									<p> Debe predominar el enaltecimiento nacional, mediante la preservación
										y promoción de la cultura, la identidad y los valores propios, asi 
										como la liberación contra la servidumbre hacia países, culturas o 
										empresas extranjeras que dañen y cohíban nuestro desarrollo.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<div class="dot">
											<img src="static/icons/intelectualismo.png" style="margin-top: 5px;" width="55" height="55" alt="">
									</div>
									<h3 style="margin-top: 40px;">INTELECTUALISMO</h3>
									<p> Se debe preparar académica, profesional, intelectual, física,
										moral y espiritualmente en orden para poder hacer contribuciones
										significativas a la sociedad. Es un deber cultivarse constantemente.
										Hay que ser diferentes para lograr resultados diferentes.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<div class="dot">
										<img src="static/icons/conciencia.png" style="margin-top: 3px;" width="55" height="55" alt="">
									</div>
									<h3 style="margin-top: 40px;">CONCIENCIA POLITICA Y FILOSOFICA</h3>
									<p> Ser conscientes de la realidad del país, nuestro actuar debe ser
										de orgullo nacional. El bienestar de Honduras, su poder y su 
										administración no son una competencia, ni debe ser una lucha de 
										poder entre partidos, es algo de interes de todos y que solo los 
										mejores hijos de la patria podrán llevar adelante.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									
										<img src="static/icons/IS.png"  style="border-radius: 50%;" width="70" height="70" alt = "" >
									
									<h3>IS</h3>
									<p>.</p>
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions special">
								<li><a href="#" class="button">Unete</a></li>
							</ul>
						</footer>
					</div>
				</section>
			<!-- revisar esta parte con Pedro-->
			
			<!-- {% include "contacto.html" %} -->
			
			<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Contactanos para saber mas </h2>
							<p>¿Quieres saber que hacer para apoyar a tu nacion?</p>
						</header>

						<!-- action="/contacto" ES FUNDAMENTAL PARA QUE FUNCIONE, Observese que 
						'/contacto' es el mismo nombre que le dimos en urls.py a la direccion de la vista ->'contacto'-->
						<form method="POST" class="cta" action="/contacto">
							{% csrf_token %}
						
							<div class="row gtr-uniform gtr-50">
								<div class="col-8">
				
									<input type="text" name="nombre" id="nombre" placeholder="Nombre" />
									<br>
									<input type="email" name="email" id="email" placeholder="Correo electronico" />
									
								</div>
								<div class="col-4">
									<br>
									<input type="submit" value="Enviar" class="fit primary" />   
								</div>
							</div>
						</form>
					</div>
					
				</section>
				
			<!-- Pie de Pagina -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/intelectualsocialism.hn/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
<!--						<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>-->
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
<!--						<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>-->
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Partido Intelectual Socialista de Honduras.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts de las librerias varias ;V -->
		
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
			
		
	</body>
	
</html>
